.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__icon{
    color:white;
    font-size: 40px;
  }
  
}

.logo-adalab {
  width: 123px;
  height: 46px;
}

