
.container {

    background-color: #302c42;
    height: 100vh;
    padding: 20px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 80vh;
    @include tablet {
      display:flex;
      flex-direction: row;
    }
  }

  .header__link{
    color:red; 
  }