
.container {

    background-color: #302c42;
    height: 100vh;
    padding: 20px;
  }
  
  .main {
    display: flex;
    padding-top: 50px;
    height: 80vh;
  }

  .header__link{
    color:red; 
  }