@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/main';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/autor';
@import 'layout/form';
  

  
  

  .main .title {
    color: #ffffff;
    text-align: center;
  }
  
  .main .ask-info {
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .main .ask-info .subtitle {
    padding-bottom: 10px;
  }
  
  .main .ask-info .line {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
  
  .main .preview {
    width: 60%;
  }
    .main .input,
    .textarea {
      background-color: #302c42;
      border-color: white;
      border-radius: 40px;
      height: 42.72px;
      color: #ffffff;
      padding-left: 15px;
      padding-top: 5px;
    }
  
  
    .main .input::placeholder,
    .textarea::placeholder {
      color: #ffffff;
    }
  
    .main .textarea {
      height: 110px;
    }
    .main .preview .image {
      object-fit: cover;
      width: 100%;
      height: 80%;
    }
 
  .hidden {
    display: none;
  }